<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../mw_style.css">
	<title>Official Site | QRMAX Management Software</title>
	<script>
		function goToInteralLink(path){
			var myDomain = window.location.hostname;
			window.location.href = myDomain + "/" + path;
		}
	</script>
</head>
</head>
<body>
			<div class="baseContainer setBackgroundFadeRight">

				<div class="screenHeaderContainer">
					<div class="logoContainer">

							<img src='../../../graphics/logo_bare.PNG' style='height:40px; margin:auto;'/>

							<p style='margin:auto; color:white; font-size:30px; font-weight: 500;'>QRMAX</p>

					</div>
					
					<div class="buttonsContainer">
						<a href="../mw_base.html"><button class="mainButton">Home</button></a>
						<a href="./mw_features.html"><button class="mainButton">Features</button></a>
						<a href="./mw_story.html"><button class="mainButton" style="color:rgb(255, 198, 23);">Mission</button></a>
						<a href="./mw_downloads.html"><button class="mainButton">Downloads</button></a>
						<a href="./mw_contact.html"><button class="mainButton">Contact</button></a>
					</div>
				</div>
				
				<div class="screenBodyContainer">
					<div id="overlaySplash" style="justify-content:flex-end">
						<div id="overlaySplashInternal" class="overlayRight" style="margin-left:0; margin-right:10%;">
							<p class="overlayHeaderText" style="text-align:right; margin-right:0px;">Our mission</br>It's been a long journey.</p>
							<p style='height:1px;'/>
							<p class="overlayStandardText" style="width:70%;">QRMAX was developed to tackle contemporary issues with current day kiosk design only enhanced by the COVID-19 pandemic.</p>
							<p class="overlayStandardText" style="width:70%;">With business owners and customers alike in mind, we designed a system that is reliable and customisable, <b>but above all else, it is safe.</b></p>
							<p class="overlayStandardText" style="width:70%;">It's been a long process. A powerful tool like this is not built overnight.</p>
							<p style='height:1px;'/>
							<div style="justify-content:flex-end">
								<button class="overlayButton">Choose QRMAX</button>
								
								<p class="overlayEmphasisText">and start your journey!</p>
							</div>
							
						</div>
					</div>
					
					<div id="mainSplashFeatures">
						<div id="mainSplashInternal">
							<div class="sideBySideCenter missionImgBackground" style='max-width:1250px; height:500px; background-image: linear-gradient(90deg, rgba(10,19,33,1) 0%, rgba(10,19,33,0.35) 50%, rgba(0,212,255,0) 100%), url(../images/stock_demo5.jpg);'>
								<div style="width:500px; flex-shrink:0">
								
									<p style='color:white; font-size:18px; margin-top:50px; margin-bottom:15px; font-weight:500'>COVID-19 AND THE STATE OF KIOSK USE</p>
									<h2 style='color:rgb(255, 198, 23); font-size:34px; margin-bottom:20px;  font-weight:300;'>Background</h2>
									<p style='color:white;'>With the advent of the coronavirus pandemic of 2020, and with it’s threat continuing to worry consumers and businesses alike, the world of marketing and customer service has seen a dramatic shift. A change of focus for businesses, placing priority on the safety of their customers. 
<br/><br/>Notably, the use of interactive kiosks, namely in popular shopping centres and stores, once a useful and convenient utility for navigation and advertisement, have been understandably restricted to ensure the safety of shoppers. These kiosks are touch operated, posing the thread of spreading disease.
<br/><br/>With these touch-operated kiosks out of order and clearly obsolete given recent developments, a modernized, safer solution is required.
</p>
								</div>
								<div>
								</div>
							</div>
							
							<hr class="bright"/>
							
							<div class="sideBySideCenter missionImgBackground" style='max-width:1250px; height:500px; background-image: linear-gradient(90deg, rgba(10,19,33,1) 0%, rgba(10,19,33,0.35) 50%, rgba(0,212,255,0) 100%), url(../images/stock_demo4.jpg);'>
								<div style="width:500px; flex-shrink:0">
								
									<p style='color:white; font-size:18px; margin-top:50px; margin-bottom:15px; font-weight:500'>STUDENTS TURNED DEVELOPERS</p>
									<h2 style='color:rgb(255, 198, 23); font-size:34px; margin-bottom:20px;  font-weight:300;'>The team</h2>
									<p style='color:white;'>In 2021, a group of students based at the University of Wollongong were tasked to solve this problem, and as students turned developers, they are agile and adaptive in their approach. Well-knit, driven, and keen to breathe new life into a technology made obsolete, the students iterated upon hundreds of changes and additions to build a software like a castle, brick by brick.</p>
								</div>
								<div>
								</div>
							</div>
							
							<hr class="bright"/>
							
							<div class="sideBySideCenter missionImgBackground" style='max-width:1250px; height:520px; background-image: linear-gradient(90deg, rgba(10,19,33,1) 0%, rgba(10,19,33,0.35) 50%, rgba(0,212,255,0) 100%), url(../images/stock_demo3.jpg);'>
								<div style="width:500px; flex-shrink:0">
								
									<p style='color:white; font-size:18px; margin-top:50px; margin-bottom:15px; font-weight:500'>SAFE, RELIABLE AND CUSTOMISABLE</p>
									<h2 style='color:rgb(255, 198, 23); font-size:34px; margin-bottom:20px;  font-weight:300;'>Our objectives and solution</h2>
									<p style='color:white;'>With primary concerns for customer safety, namely preventing the spread of disease through interacting with the kiosks in question, we designed a reliable and convenient touch-free alternative using QR technology to keep kiosk users safe.<br/><br/>Simply put: QR-operated kiosks.
<br/><br/>Additionally, in the interests of businesses seeking independence and a hassle-free experience, the service had to be customisable and intuitive, but also reliable. We wanted the business-end users of QRMAX to be self-reliant and confident when implementing our software and without any tedious or boring training seminars, new users hosting QRMAX kiosks can create a personalised and professional interface design unique to their business. We wanted our software to feel natural and easy to navigate. With a plethora of handy tools and a slick interface, we believe this has been achieved.
</p>
									<button class="overlayButtonDark">See features</button>
								</div>
								<div>
								</div>
							</div>
							
							<hr class="bright"/>
							
							<div class="sideBySideCenter missionImgBackground" style='max-width:1250px; height:550px; background-size: 1000px; background-image: linear-gradient(90deg, rgba(10,19,33,1) 0%, rgba(10,19,33,0.35) 50%, rgba(0,212,255,0) 100%), url(../images/demo_feature2.PNG);'>
								<div style="width:500px; flex-shrink:0">
								
									<p style='color:white; font-size:18px; margin-top:50px; margin-bottom:15px; font-weight:500'>THE FRUITS OF OUR LABOUR</p>
									<h2 style='color:rgb(255, 198, 23); font-size:34px; margin-bottom:20px;  font-weight:300;'>The product</h2>
									<p style='color:white;'>QRMAX had humble beginnings as a small and untitled project, but rapidly developed into a thorough and streamlined solution. Featuring a touch-free, QR-operated alternative to user interaction, in addition to accounts management and kiosk interface customisation, QRMAX is a powerful proof for the future of practical and safe kiosk design.
<br/><br/>QRMAX is a web-based JavaScript application built upon the modern and critically-acclaimed MERN stack development suite, meaning it won’t be relying on any dodgy or outdated, thus unsafe platforms to get the job done. As a web-app, there is no complex installation process and no expensive hardware requirements or hurdles. All your system needs is a modern internet browser and a solid internet connection. Within no time you could have a safe and reliable kiosk up and running for your customers.
<br/><br/>What’s to lose? It’s safe, convenient, and completely free. Be a part of the future of safe kiosk design and get started.
</p>
									<button class="overlayButtonDark">Get started</button>
								</div>
								<div>
								</div>
							</div>
							
							<hr class="bright"/>
							
						</div>
					</div>
					
					<div id="footer" style='height:100%; margin:0; background-color:white;'>
					<div style="background-color: rgb(10,19,33); width:100%; padding-top:20px; margin:0;">
						<div style="margin-left:30px; margin-right:30px; margin-bottom:20px;">
							<hr size="2" width="100%" color="#273852" style='margin:0;'>  
							<div id="quickAccessDivider">
								<p style="margin:0; padding:0; margin-left:10px; margin-right:20px;">Quick access:</p> 
								<button>User manual</button><button>technical manual</button><button>Home</button><button>Features</button><button>Downloads</button><button>Contact</button><button>Developer portfolios</button>
							</div>
							<hr size="2" width="100%" color="#273852" style='margin:0;'>  
						</div>
						<div class="sideBySide" style="width:100%; margin-bottom:0;">
							<div style="width:100%">
								<p style='font-size:13px;'>Designed by: Marcus Hickey, last revised: 07/04/2022, 1:30PM</p>
							</div>
							<div style='text-align:right; width:100%; margin:0; margin-right:30px;'>
								<p style='font-size:13px;'>© 2022 QRMAX Inc. All rights reserved.</p>
							</div>
						</div>
					</div>
			</div>
		</div>
</body>
</html>