.mainContainer {
    height:100%;
    width: 30%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 500px;
}

#QRDisplay {
    height: 250px;
    width: 250px;
    background-color: silver;
    margin: auto;
}

