.background {
    height: 100vh;
    width: 100vw;
    display: flex;
}

#mainContainer {
    height:100%;
    width: auto;
    
}

.SectionDivider {
    display: inline-block;
}

.mediaStack {
    display: inline-flex;
    justify-content: center;
    text-align: center;
}

.mediaBackgorundSquare {
    display: inline-flex;
    background-color: silver;
}

#SelectDisplay {
    display: inline;
}

.CodeTitle {
    text-align: center;
    width: auto;
}

.browseButton {
    width: 30%;
}