/*
    Contributing Authors:
        Name:           Trent Russell
        Student No.:    5454244
*/

.background {
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.MainContainer {
    margin-left: 0 auto;
    height: 100%;
    width: 100%;
    padding: 5%;
    background-color: white;
    display: flex;
    position: relative;
    padding: 10px;
}

.DisplayContainer {
    background-color: rgb(223, 222, 222);
    margin-left: 0 auto;
    height: 100%;
    width: 100%;
}

.image {
    height: 600px;
    width: 800px;
}

.qr-list {
    justify-content: center;
    height: 150px;
    width: 500px;
    overflow-x: scroll;
    overflow: hidden;
    border: 2px solid black;
    list-style: none;
    margin: auto;
    display: flex;
    flex-direction: row;
}