



.DisplayContainer {
    background-color: blue(223, 222, 222);
    margin-left: 0 auto;
    height: 100%;
    width: 100%;
}

#InteractionDisplayOne {
    height: 150px;
    width: 300px;
    background-color: silver;
    margin-left: 2%;
    margin-top: 2%;
    position: fixed;
    top: 1;
    left: 250px;
    
}

#InteractionDisplayTwo {
    height: 150px;
    width: 300px;
    background-color: silver;
    margin-left: 2%;
    margin-top: 2%;
    position: fixed;
    top: 1;
    left: 600px;
    
}

#InteractionDisplayThree {
    height: 150px;
    width: 300px;
    background-color: silver;
    margin-left: 2%;
    margin-top: 2%;
    position: fixed;
    top: 1;
    left: 950px;
   
}

#InteractionDisplayFour {
    height: 150px;
    width: 300px;
    background-color: silver;
    margin-left: 2%;
    margin-top: 2%;
    position: fixed;
    top: 1;
    left: 1300px;
}

#InteractionNames {
    font-size:24px;
	font-weight:bold;
	
}

