.FloatingContainer {
	border-radius: 10px;
	border: 1px solid black;
	padding: 10px;
	margin: 10px auto;
	width:95%;
	
	display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
}

.MainAccountsContainer {
	border-radius: 10px;
	border: 1px solid black;
	padding: 10px;
	margin: 20px;
	width:95%;
	min-width:945px;
	
	display: flex;
    align-items: flex-start;
    justify-content: flex-start;
	flex-direction: column;
}

button {
	
}

nav {width:100%;}
nav ul{height:250px; padding-left:0px; padding-right:10px; width:100%; background-color: #DEDEDE; list-style-type:none}
nav ul{overflow:hidden; overflow-y:scroll;}


label {
	color: black;
}

#ViewerContainer {
	width:100%;
}

#SearchContainer {
	padding:0px;
	margin-top:0px;
	margin-bottom: 20px;
}

#SearchContainer label, input {
	margin:5px;
}

#CreateAccountFormContainer {
	border-radius: 10px;
	border: 1px solid transparent;
	background-color: white;
	
	padding:20px;
	width:425px;
	
	display: flex;
    justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.SubmitButtonContainer {
	margin:0px;
	margin-top:30px;
	padding:0px;
	
	width:100%;
}

.InputContainer label {
	margin-top:7px;
}

.InputContainer input {
	width:270px;
	background-color: #ECECEC;
	border-radius: 3px;
	border: 1px solid transparent;
}

.InputContainer input:disabled {
	background-color: #ECECEC;
	color: #B8B8B8;
}

.InputContainer input:focus {
	outline: 1px solid black !important;
}

.InputContainer {
	margin-top:10px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:0px;
	padding:0px;
	
	width:100%;
	
	display: flex;
    justify-content: space-between;
	align-items: top;
	flex-direction: row;
}

.DataField {
	padding: 5px;
	margin: 5px;
	border-radius: 10px;
	background-color: white;
}

.InteractButton {
	width:200px;
	margin: 5px;
}

.AccountDisplayButton {
	width:100%;
	margin: 5px;
}

