/* This file and all contained code was developed by:
 * 
 * Developer information:
 *  - Full name: Marcus Hickey
 *  - Student ID: 6344380 */

.background {
	background-color:#E5E5E5;
    height:100vh;
	width:100vw;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
}

.MainContainer {
    margin-left: 0 auto;
    background-color: transparent;
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    padding: 0;
	margin:0;
    background-size: cover;
    background-repeat: no-repeat;
}

.DisplayContainer {
   background-color: White;
    margin-left: 0 auto;
    height: 100%;
    width: 100%;
    margin: 20px;
    padding: 20px;
}